{extend name="pub/base" /}
{block name="title"}
<title>百度下拉</title>
{/block}

{block name="body"}
<article class="clearfix pd-20">
    <form class="form form-horizontal" enctype="multipart/form-data" action="getkeywords">
        <div class="row clearfix">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>关键词：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" name="keyword">
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;获取&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>
{/block}